<configuration>
    <appender name="ROLLINGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/notification-ms.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>log/notification-ms-%d{yyyy-MM-dd}.gz</fileNamePattern>
            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <!--            <maxHistory>30</maxHistory>-->
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>session: %X{Session-Id}; request: %X{Request-Id}; user: %X{User-Id}; - %d{dd.MM.YYYY HH:mm:ss.SSS} [%thread] %-5level
                %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>session: %X{Session-Id}; request: %X{Request-Id}; user: %X{User-Id}; - %d{dd.MM.YYYY HH:mm:ss.SSS} [%thread] %-5level
                %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <springProperty scope="context" name="level" source="logging.my-level"/>
    <root level="${level}">
        <appender-ref ref="ROLLINGFILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>